body {
    background: #111010;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.navbar {
    color: #A09F9F;
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
    align-items: center;
}

.list {
    list-style: none;
    display: flex;
}

.list-items {
    margin: 0px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.list :hover {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(217, 217, 217);
    cursor: pointer;
}

.nav-btn {
    background-color: #0C8BFD;
    color: azure;
    padding: 8px 22px;
    border-radius: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.nav-btn:hover {
    background-color: #ffffff;
    color: #0C8BFD;
    border: 1px solid #0C8BFD;
    cursor: pointer;
}

.nav-img:hover {
    cursor: pointer;
}

.hero-section {
    display: flex;
    padding: 40px 40px;
}

.hero-left {
    width: 60%;
}

.hero-left h1 {
    color: #ffffff;
    font-size: 60px;
    margin-top: -15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

.hero-left p {
    color: #A09F9F;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-top: -15px;
    font-weight: 400;
    line-height: 30px;
}

span {
    color: #0C8BFD;
    font-style: italic;
}

.hero-btn {
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 600;
    margin: 5px;
}

.get-btn {
    background-color: #0C8BFD;
    color: #ffffff;
    text-shadow: 10px;
    border: none;
}

.try-btn {
    background-color: #111010;
    border: 1px solid #ffffff;
    color: #ffffff;
}

.hero-img {
    width: 430px;
}

.get-btn:hover {
    background-color: #ffffff;
    color: #0C8BFD;
    border: 1px solid #0C8BFD;
    cursor: pointer;
}

.try-btn:hover {
    background-color: #ffffff;
    color: #0f0f0f;
    border: 1px solid #141414;
    cursor: pointer;
}

.log-section {
    display: flex;
    justify-content: space-around;
    padding: 30px 50px;
    background-color: #1D1C1C;
}

.services {
    background-color: #ffffff;
    padding: 50px 40px;
}

.service-head {
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: 700;
}

.service-para {
    font-size: 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: #8c8b8b;
    margin-top: -20px;
}

.service-box-group {
    display: flex;
    justify-content: space-evenly;
}

.service-box {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px 10px;
    border: 1px solid #000000;
    border-radius: 30px;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 300px;
}

.service-img {
    width: 100px;
}

.service-box h1 {
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 30px;
}

.service-box p {
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    line-height: 25px;
}

.white-box {
    margin-top: 80px;
}

.black-box {
    background-color: #0f0f0f;
    color: #ffffff;
    box-shadow: 0px 40px 50px 9px#ada9a9;
}

.support {
    background-color: rgb(255, 255, 255);
    padding: 40px 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.support h1 {
    font-size: 40px;
    text-align: center;
}

.support-pannel-area {
    display: flex;
    justify-content: center;
}

.support-pannel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 23px 30px;
    padding: 5px 15px;
    width: 350px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 30px;
    border: 1px solid rgb(96, 96, 96);
}

.support-pannel-icon {
    width: 25px;
}

.support-pannel {
    font-weight: 700;
}

.active-pannel {
    background-color: #0C8BFD;
    color: #ffffff;
}

.features {
    background-color: #000000;
    padding: 8px 2px;
    margin: 20px 20px;
    border-radius: 20px;
}

.feature-pannel {
    background-color: #343434;
    border: 1px solid#000;
    margin: 12px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 35px;
    border-radius: 20px;
    width: 260px;
    font-size: 13px;
    font-weight: 500;
    color: #ffffff;
}

.bullet-point {
    width: 10px;
    background-color: #fff;
    height: 10px;
    border-radius: 10px;
    margin: 10px;
}

.price-text-area {
    display: flex;
    justify-content: center;
}

.price-text-area h1 {
    color: #fff;
    font-size: 40px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.price-text-area img {
    margin: 0px 50px;
    width: 35px;
    margin-top: 50px;
}

.price-section {
    padding: 10px 50px;

}

.price-box {
    background-color: #ffffff;
    margin: 30px 15px;
    padding: 0px 10px;
    width: 210px;
    border-radius: 25px;
}

.price-box h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
}

.price-box h2 {
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: -5px;
}

.price-box>p {
    margin-top: -20px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
}

.price-box-area {
    display: flex;
    justify-content: center;

}

.package-items {
    display: flex;

    height: 25px;
    align-items: center;
    width: 220px;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.package-items img {
    margin: 0px 8px;
    width: 15px;
}

.grey-text {
    color: #aeaaaa;
    font-style: normal;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.price-btn {
    padding: 10px 70px;
    border-radius: 50px;
    border: none;
    background-color: #0C8BFD;
    color: #fff;
    font-size: 15px;
    margin: 15px auto;
    text-align: center;
}

.package {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price-box-blue {
    background-color: #0C8BFD;
    color: #fff;
}

.price-box-blue span {
    color: rgba(239, 233, 233, 0.811);
}

.price-box-blue .price-btn {
    background-color: #ffffff;
    color: #0C8BFD;
}

.review-section {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 50px;
    padding-bottom: 80px;
}

.review-text-area {
    display: flex;
    justify-content: space-around;

}

.review-text-area h1 {
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.review-text-area p {
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 25px;
    font-weight: 500;
    color: #949292;
    margin-top: 55px;

}

.review-box-area {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.review-box-area h1 {
    font-weight: 400;
    font-size: 20px;
}

.review-box-area p {
    padding: 0px;
    margin-bottom: 0
}

.review-box-left small {
    color: #b8b5b5;
    font-weight: 600;
}

.review-box-right small {
    color: #615d5d;
    font-weight: 600;

}

.review-box-left {
    background-color: #111010;
    color: #fff;
    padding: 20px 50px;
    border-radius: 25px;
}

.review-box-right {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 20px 50px;
    border-radius: 25px;
    border: 1px solid #343434;
}

.quote-img {
    width: 15px;
}

.star-img {
    width: 20px;
}

.review-line {
    margin-top: 60px;
    display: flex;
    padding: 0px 60px;
}

.line1 {
    background-color: #0C8BFD;
    width: 20%;
    height: 5px;

}

.line2 {
    background-color: #c9c9c9;
    width: 80%;
    height: 5px;
}

.signup-section {
    color: #ffffff;
}

.signup-section h1 {
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    text-align: center;
    margin-top: 50px;
}

.signup-container {
    display: flex;
    justify-content: center;
    background-color: #292828;
    width: 100%;
    padding: 40px;
}

.signup-box {
    padding: 20px;
    background-color: #3E3D3D;
    color: #9F9E9E;
    width: 200px;
    border-radius: 25px;
    margin: 0px 20px;
}

.signup-btn {
    padding: 20px 40px;
    color: #fff;
    background-color: #0C8BFD;
    border-radius: 25px;
    border: none;
}

.footer-container {
    display: flex;
    color: #fff;
    padding: 20px 40px;
    justify-content: space-around;
}

.footer-list {
    list-style: none;
}

.footer-list-items {
    margin: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    font-size: 15px;
}

.list-head {
    font-size: 18px;
    font-weight: 500;
}

.footer-border-top {
    margin-top: 100px;
}

.footer-img {
    padding: 20px;
    padding-bottom: 40px;
<<<<<<< HEAD
}

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
    .list-items {
        margin: 0px 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
    }

    .nav-img {
        width: 80px;
        padding-right: -30px;
    }

    .navbar {
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .nav-btn {
        padding: 4px 10px;
    }

    .hero-left h1 {
        font-size: 30px;
    }

    .hero-img {
        width: 230px;
    }

}




/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
=======
}
>>>>>>> 0b6235bba0c5269cb955dcadb3e7ec01faa7e755
