body {
    background-color: #F4F6F8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.438), rgba(0, 0, 0, 0.416)), url(./assets/Photos/mainBackground.png);
    background-size: 100%;
    background-position: center;
    height: 100vh;
    color: #ffffff;
    padding: 0px 30px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}

.list {
    display: flex;
    list-style: none;
}

.list-items {
    margin-right: 50px;
    font-size: 15px;
    font-weight: 300;
}

.nav-img {
    width: 150px;
}

.hero-section {
    padding: 50px;
}

.hero-section h1 {
    font-size: 70px;
    margin-top: 10px;
}

.hero-section p {
    font-size: 15px;
    font-weight: 200;
    line-height: 25px;
}

.hero-btn {
    padding: 10px 30px;
    border-radius: 20px;
    border: none;
    font-weight: 700;
    margin-top: 20px;
    background-color: #6663E9;
    color: #ffffff;
}

.hero-btn:hover {
    background-color: #ffffff;
    color: #6663E9;
    cursor: pointer;
}

.line {
    height: 1px;
    background-color: rgb(174, 170, 170);
}

.logo-section {
    background-color: rgb(255, 255, 255);
    width: 95%;
    height: 120px;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    margin: 0px auto;
    position: relative;
    bottom: 60px;
    z-index: 2;
    box-shadow: 0px 3px 10px 1px rgba(83, 83, 83, 0.2);
}

.logo-img {
    width: 120px;
}

.card-section {
    padding: 0px 70px;
}

.card-section h1 {
    text-align: center;
    font-size: 40px;
}

.card-row1 {
    display: flex;
    justify-content: center;
    height: 90vh;
    margin-top: 40px;
}

.card {
    width: 400px;
    height: 400px;
    margin: 0px 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: 0px 60px 50px 5px rgba(46, 45, 45, 0.2);
    background-size: cover;
    background-position: center;

}

.card-info {
    background-color: #fff;
    width: 80%;
    margin: 0px auto;
    border-radius: 20px;
    height: 15%;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 50px;

}

.card-btn {
    padding: 10px 20px;
    height: 65%;
    border-radius: 20px;
    font-weight: 600;
    border: none;
    background-color: #6663E9;
    color: #fff;
}

.card-text h2 {
    font-size: 20px;
}

.card-text p {
    font-weight: 700;
    color: #6663E9;
}

.card1 {
    background-image: url(./assets/Photos/cardImage1.png);

}

.card2 {
    position: relative;
    top: 40px;
    background-image: url(./assets/Photos/cardImage2.png);
}

.card3 {
    position: relative;
    top: 80px;
    background-image: url(./assets/Photos/cardImage3.png);
}

.card6 {
    background-image: url(./assets/Photos/cardImage6.png);
}

.card5 {
    position: relative;
    top: 40px;
    background-image: url(./assets/Photos/cardImage5.png);
}

.card4 {
    position: relative;
    top: 80px;
    background-image: url(./assets/Photos/cardImage4.png);
}

.card-row2 {
    display: flex;
    justify-content: center;
    height: 90vh;
}

.card-row3 {
    display: flex;
    justify-content: center;
    height: 90vh;
}

.card7 {
    background-image: url(./assets/Photos/cardImage7.png);
}

.card8 {
    position: relative;
    top: 40px;
    background-image: url(./assets/Photos/cardImage8.png);
}

.card9 {
    position: relative;
    top: 80px;
    background-image: url(./assets/Photos/cardImage9.png);
}