body {
    background-color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px 0px;
    margin: 0;
}

body p {
    color: #6f6f72;
}

body h1 h2 {
    color: black;
}

.navbar {
    padding: 10px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.list {
    list-style: none;
    display: flex;
    align-items: center;
}

.list-items {
    margin-right: 50px;
    font-weight: 500;
}

.btn {
    padding: 8px 40px;
    border-radius: 25px;
    color: #722ED1;
    border: 1px solid #722ED1;
    font-weight: 700;
    background-color: #fff;
}

.hero-section {
    display: flex;
    justify-content: center;
    background: linear-gradient(to top, #E3F2FF 50%, #fff);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    padding: 0px 80px;
    height: 90vh;
}

.hero-left {
    margin: 50px 80px;
    width: 60%;
}

.hero-right {
    margin: 50px 50px;
}

.release {
    display: flex;
    background-color: #F7F1FF;
    color: #722ED1;
    padding: 0px 10px;
    border-radius: 15px;
    height: 40px;
    justify-content: flex-start;
    align-items: center;
    width: 210px;
}

.release img {
    margin-right: 10px;
}

.text-underline {
    text-decoration: underline;
}

.hero-left h1 {
    font-size: 50px;
    margin-top: -5px;
}

.hero-para {
    color: #414143;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    margin-top: -10px;
}

.release p {
    color: #722ED1;
    font-weight: 500;
}

.trial-btn {
    background-color: #722ED1;
    color: #fff;
    margin-right: 10px;
}

.learn-btn {
    border: none;

}

.hero-btn-group {
    margin-top: 50px;
}

.insight-section {
    margin-top: 100px;
    padding: 0px 80px;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.qubly {
    width: 115px;
    font-size: 15px;
    padding: 0px 5px;
}

.insight-section p {
    text-align: center;
}

.ins-card {
    flex-direction: column;
    display: flex;
    align-items: center;
}

.ins-img {
    width: 50px;
}

.insights {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}

.ins-card h2 {
    font-size: 18px;
}

.ins-card p {
    font-size: 12px;
}

.launch-section {
    padding: 20px 80px;
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.teams {
    width: 170px;
    padding: 0px 10px;
    font-weight: 500;
}

.launch-right p {
    font-size: 13px;
    line-height: 25px;
}

.pipeline-section {
    padding: 20px 80px;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.E-teams {
    width: 200px;
    padding: 0px 10px;
    font-weight: 500;
}

.pipe-left p {
    font-size: 13px;
    line-height: 25px;
}

.review {
    text-align: center;
    margin-top: 0px;
    padding: 140px 50px;
    background: linear-gradient(to top, #F2F8FF 50%, #FCF8FF);
    clip-path: polygon(0 20%, 100% 0, 100% 82%, 0 100%);
    border: 1px solid;
}

.review h1 {
    font-size: 20px;
    font-weight: 700;
}

.review p {
    font-size: 12px;
    font-weight: 900;
    color: #000;
}

.logo-section {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.line {
    margin-top: 40px
}